<a href="https://colab.research.google.com/github/techcomkathia/notasAulaPython/blob/main/Revis%C3%A3o_da_Aula_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x ="Ana"
print(x)

Ana

In [ ]:
lista=[x, "Tarde", 15]
print(lista[0])

Ana

In [ ]:
lista[0]= "João"

print(lista[0])

João

In [ ]:
tupla=(1, 2, 3)
print(tupla[-1])

3

In [ ]:
tupla[0] = "editado"

TypeError: ignored

In [ ]:
x = sum(tupla)
print(x)

6

In [ ]:
tupla2 =("Ana", 3, "AnaMaria")
# y= max(tupla2)
print(y)

Paulo

In [ ]:
print(len(tupla2))

3

##Dicionários

In [ ]:
tupla1 =("nome", "Ana")
tupla2 =("turma", 156)

aluno = dict([tupla1, tupla2])
print(aluno)

{'nome': 'Ana', 'turma': 156}

In [ ]:
print(aluno["nome"])

Ana

In [ ]:
dadosPessoa = {
    'nome': 'Káthia',
    'idade': 28,
    'email': 'kathia.karine2015@gmail.com',
    'linguagens': ['Python', 'JavaScript', 'HTML/CSS']
}
print(f'Nome: {dadosPessoa["nome"]}')

Nome: Káthia

In [ ]:
lista1 ={"nome": " turma1", "horário": "7:30"}

copiaLista1 = lista1
print(copiaLista1)
copiaRasaLista1 = lista1.copy()
print(copiaRasaLista1)

lista1.clear()

print(copiaLista1)
print(copiaRasaLista1)

{'nome': ' turma1', 'horário': '7:30'}
{'nome': ' turma1', 'horário': '7:30'}
{}
{'nome': ' turma1', 'horário': '7:30'}